@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.unlink {
    color: inherit;
    text-decoration: none;
}

/* Barra de Navegação */
#navbar {
    display: flex;
    height: 90px;
    align-items: center;
}

#nav-border {
    margin-right: 10em;
    margin-left: 10em;
    border-bottom: 2px solid #cfcfcf;
    margin-top: 8px;
}

/* Barra de Pesquisa */
.searchbar {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 7px;
    padding: 2px;
}

/* Foco do Input */
.searchbar:hover {
    border-color: rgb(219, 219, 219);
    animation: 20s linear slide-in,;
}

.searchbar:focus-within {
    outline: 2px solid rgb(174, 210, 255);
    border-spacing: 0px;
    border-color: rgb(79, 161, 255);
    outline-width: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.searchbar input {
    font-family: inherit;
    height: 40px;
    width: 600px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    padding-left: 1.25em;
    padding-right: 4em;
    border: none;
    border-radius: 7px;
}

.searchbar input::placeholder {
    font-style: italic;
}

.searchbar input::after {
    border: 0;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    position: absolute;
    height: 42px;
    width: 50px;
    right: 7px;
    bottom: 1px;
    background: url(../Assets/search.png);
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 0;
}

/* Login e Cesto */
.header-items {
    display: flex;
    font-family: inherit;
    margin-left: auto;
    align-items: center;
}

.header-items a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding-right: 10px;
    border: 4px solid white;
    border-radius: 7px;
    transition: 0.5s;
}

.header-items span {
    padding-left: 5px;
} 

.header-items a:hover {
    border-color: rgb(219, 219, 219);
}

.header-items img {
    width: 50px;
    height: 50px;
}


/* Barra de Navegação */
.lista-navegacao {
    height: 50px;
    box-shadow: 0 3px 2px -2px gray;
}

.lista-navegacao ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 0;
}

.lista-navegacao ul li {
    height: 100%;
    width: 200px;
    cursor: pointer;
    border-bottom: 5px solid white;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.lista-navegacao ul li:hover {
    border-bottom: 5px solid black;
}

.lista-navegacao ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2px;
}

/* Tipos de Computadores */
.tcomputadores {
    margin-top: 40px;
    margin-bottom: 30px;
}

.tcomputadores ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.tcomputadores ul li {
    margin-right: 20px;
}

.tcomputadores ul li a {
    display: block;
    align-items: center;
    height: 150px;
    width: 180px;
    scale: 0.9;
    text-align: center;
    transition: 0.1s;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.tcomputadores ul li a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px 3px;
    transform: scale(1.03);
}

.tcomputadores ul li a img {
    display: inline-block;
    max-height: 80%; 
    max-width: 90%;
}

.tcomputadores ul li a p {
    font-family: "Montserrat", sans-serif;
    position: relative;
    bottom: 25px;
    font-size: 15px;
    text-align: center;
}

/* Filtro */
.resultados {
    display: flex;
    vertical-align: top;
}

.filtro {
    width: 400px;
    margin-top: 50px;
    padding-right: 70px;
    border-right: 2px solid rgb(154, 154, 154);
}

.filtro ul {
    list-style: none;
    list-style-position: inside;
    user-select: none;
    margin-top: 0;
}

.filtro ul li h4 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 3px;
    padding-top: 20px;
    border-top: none;
    position: relative;
}

.filtro ul li h4::before {
    content: "";            
    position: absolute;      
    top: 0;                   
    left: 0;                  
    width: 300px;             
    height: 1px;
    background-color: black;
}

/* Checkboxes */
.fchoices {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.fchoices li {
    display: flex;
    align-items: center;
}

.fchoices li input {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    width: 30px;
    height: 30px;
    border: 1px solid black;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.fchoices li input:checked {
    background-position: center center;
    border-color: blue;
    background-color: blue;
    background-size: 50%;
    background-repeat:no-repeat;
    background-position: center center;
}

.fchoices li input[type="radio"] {
    border-radius: 9999px;
}

.fchoices li input[type="radio"]:checked {
    box-shadow: inset 0 0 0 4px white;
}

.fchoices li input[type="checkbox"] {
    border-radius: 6px;
}

.fchoices li input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


.fchoices li label {
    margin-left: 7px;
}

/* Resultados */
.laptops {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
}

.laptops ul {
    list-style: none;
    margin-top: 34px;
    padding: 0;
}

.laptops ul li {
    display: flex;
    width: 100%;
    height: 300px;
    max-height: 300px;
    box-sizing: content-box;
}

.laptops > ul > li > div {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    text-decoration: none;
}

.rimage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 350px;
}

.rimage img {
    width: 230px !important;
}

/* Descrição dos computadors */
.rdescricao {
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-size: 15px;
    color: black;
    box-sizing: content-box;
    width: 100%;
}

.rdescricao h1 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
}

.rdescricao h1:hover {
    text-decoration: underline;    
}

.rdescricao > p {
    position: relative;
    font-style: italic;
    font-size: 14px;
    color: gray;
    width: 150px;
    line-height: 1.2;
    top: -12px;
    margin-bottom: 0;
}

.rdescricao > img, 
.rdescricao > span {
    position: relative;
    top: -14px;
    vertical-align: middle;
}

.rdescricao img {
    width: 80px;
    margin-right: 2px;
    display: inline-block;
}

.rdescricao span {
    display: inline-block;
    font-size: 14px;
    color: rgb(67, 67, 67);
    margin-top: 2px;
}

.informacao {
    position: absolute;
    display: inline-block;
    border: 1px solid gray;
    width: 400px;
    padding: 5px 0;
    margin-top: 20px;
    vertical-align: top;
    left: 0;
    top: 90px;
    padding-right: 10px;
    padding-left: 5px;
}

.informacao ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
}

.informacao ul li {
    display: flex;
    align-items: center;
    margin: 0;
    height: 40px;
    width: 400px;
    padding: 0 10px;
    box-sizing: border-box;
}

.compra-box {
    width: 250px;
    position: absolute;
    right: 0;
    top: 100px;
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.compra {
    width: 300px;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
    float: none;
    top: 48px;
    float: right;
    margin-right: 35px;
}

.compra strong {
    display: block;
    font-size: 1.8rem;
    font-weight: 800;
    color: #d55353;
    margin-bottom: 5px;
}

.compra button {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    height: 45px;
    width: 100%;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    padding: 10px 28px;
    border-radius: 6px;
    transition: all 0.2s ease;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.compra button:hover {
    background-color: #0056b3;
}

.compra p {
    color: gray;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

.label {
    color: gray;
    font-size: 14px;
    margin-right: 10px;
}

.spec {
    color: black;
    font-weight: bold;
    margin-left: auto;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    width: 530px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination ul li {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 3px;
    border-radius: 5px;
    color: white;
    background-color: rgb(42, 134, 225);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.25s ease;
}

.pagination ul li:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
    background-color: rgb(32, 84, 136);
}

.pagination ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

/* Footer */
.footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: #181828;
    border-top: 1px solid black;
}

.footer div p {
    width: 350px;
}

.footer div {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 20px;
}

.footer div p {
    width: 360px;
}

.footer div div {
    display: flex;
    justify-content: center;
    width: 280px;
    margin-left: auto;
}

.footer div div a {
    margin-right: 3px;
}

.checkbox-round:checked {
    background-color: gray;
}

/* Ids */
#titulo {
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    margin-top: 30px;
}

#sbreak {
    border-block-start-color: white;
    border-block-start-style:dashed;
    color: white;
    background-color: white;
    block-size: 0.5rem;
    box-shadow: 0 .5rem .5rem #0000001a;
    position: relative;
}

#login {
    margin-right: 25px;
}

#cesto {
    margin-right: 50px;
}

#cesto img {
    scale: 0.9;
    height: px;
    width: 70px;
}

#nborder {
    width: 13%;
    border-bottom: 2px solid #727272;   
    margin: 0 auto;
    margin-bottom: 50px;
}

#logo {
    height: 35px;
    width: 150px;
    float: left;
    padding-left: 100px;
}