@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.unlink {
    color: inherit;
    text-decoration: none;
}

/* Barra de Navegação */
#navbar {
    display: flex;
    height: 90px;
    align-items: center;
}

#nav-border {
    margin-right: 10em;
    margin-left: 10em;
    border-bottom: 2px solid #cfcfcf;
    margin-top: 8px;
}

/* Barra de Pesquisa */
.searchbar {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 7px;
    padding: 2px;
}

/* Foco do Input */
.searchbar:hover {
    border-color: rgb(219, 219, 219);
}

.searchbar:focus-within {
    outline: 2px solid rgb(174, 210, 255);
    border-spacing: 0px;
    border-color: rgb(79, 161, 255);
    outline-width: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.searchbar input {
    font-family: inherit;
    height: 40px;
    width: 600px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    padding-left: 1.25em;
    padding-right: 4em;
    border: none;
    border-radius: 7px;
}

.searchbar input::placeholder {
    font-style: italic;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    position: absolute;
    height: 42px;
    width: 50px;
    right: 7px;
    bottom: 1px;
    background: url(../Assets/search.png);
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 0;
}

/* Login e Cesto */
.header-items {
    display: flex;
    font-family: inherit;
    margin-left: auto;
}

.header-items a {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    padding-right: 10px;
    justify-content: center;
    border: 4px solid white;
    text-align: center;
    border-radius: 7px;
    transition: 0.5s;
}

.header-items span {
    padding-left: 5px;
} 

.header-items a:hover {
    border-color: rgb(219, 219, 219);
}

.header-items img {
    width: 50px;
    height: 50px;
}

/* Nav Bar */
.lista-navegacao {
    height: 50px;
    box-shadow: 0 3px 2px -2px gray;
}

.lista-navegacao ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 0;
}

.lista-navegacao ul li {
    height: 100%;
    width: 200px;
    cursor: pointer;
    border-bottom: 5px solid white;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.lista-navegacao ul li:hover {
    border-bottom: 5px solid black;
}

.lista-navegacao ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2px;
}

/* Computer Types */
.tcomputadores {
    margin-top: 40px;
    margin-bottom: 30px;
}

.tcomputadores ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.tcomputadores ul li {
    margin-right: 20px;
}

.tcomputadores ul li a {
    display: block;
    align-items: center;
    height: 150px;
    width: 180px;
    scale: 0.9;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.tcomputadores ul li a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px 3px;
    transform: scale(1.03);
}

.tcomputadores ul li a img {
    display: inline-block;
    max-height: 80%; 
    max-width: 90%;
}

.tcomputadores ul li a p {
    font-family: "Montserrat", sans-serif;
    position: relative;
    bottom: 25px;
    font-size: 15px;
    text-align: center;
}

/* Filtro */
.resultados {
    display: flex;
    vertical-align: top;
}

.filtro {
    display: inline-block;
    width: 400px;
    margin-top: 50px;
    margin-left: 30px;
    padding-right: 70px;
    border-right: 2px solid rgb(154, 154, 154);
}

.filtro ul {
    list-style: none;
    list-style-position: inside;
    margin-top: 0;
}

.filtro ul li h4 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 3px;
    padding-top: 20px;
    position: relative;
}

.filtro ul li h4::before {
    content: "";            
    position: absolute;      
    top: 0;                   
    left: 0;                  
    width: 300px;             
    height: 1px;
    background-color: black;
}

/* Checkboxes */
.fchoices {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.fchoices li {
    display: flex;
    align-items: center;
}

.fchoices li input {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    width: 30px;
    height: 30px;
    border: 1px solid black;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.fchoices li input:checked {
    border-color: blue;
    background-color: blue;
    background-size: 50%;
    background-repeat:no-repeat;
    background-position: center center;
}

.fchoices li input[type="radio"] {
    border-radius: 9999px;
}

.fchoices li input[type="radio"]:checked {
    box-shadow: inset 0 0 0 4px white;
}

.fchoices li input[type="checkbox"] {
    border-radius: 6px;
}

.fchoices li input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.fchoices li label {
    margin-left: 7px;
}

/* Resultados */
.laptops {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
}

.laptops ul {
    list-style: none;
    margin-top: 34px;
    padding: 0;
}

.laptops ul li {
    display: block;
    width: 100%;
    height: 300px;
}

.laptops ul li a {
    display: flex;
    width: 100%;
    border-top: 1px solid black;
    text-decoration: none;
}

.laptops ul li a img {
    height: 200px;
    margin-left: 50px;
}

.rimage {
    display: flex;
    align-items: center;
    height: 100%;
    width: 320px;
}

.rdescricao {
    font-size: 15px;
    color: black;
}

.rdescricao p {
    position: relative;
    font-style: italic;
    color: gray;
    line-height: 1.2;
    top: -15px;
}

.rdescricao img {
    position: relative;
    height: 20px !important;
    width: 80px;
    top: -30px;
    right: 3px;
    margin-right: 2px;
}

.rdescricao span {
    position: relative;
    height: 20px !important;
    font-size: 13px;
    color: rgb(67, 67, 67);
    width: 80px;
    top: -34px;
    right: 3px;
}

/* Footer */
.footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: #181828;
    border-top: 1px solid black;
}

.footer div {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 20px;
}

.footer div p {
    width: 360px;
}

.footer div div {
    display: flex;
    justify-content: center;
    width: 280px;
    margin-left: auto;
}

.footer div div a {
    margin-right: 3px;
}

/* Ids */
#titulo {
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    margin-top: 30px;
}

#sbreak {
    border-block-start-color: white;
    border-block-start-style:dashed;
    color: white;
    background-color: white;
    block-size: 0.5rem;
    box-shadow: 0 .5rem .5rem #0000001a;
    position: relative;
}

#login {
    margin-right: 25px;
}

#cesto img {
    scale: 0.9;
    width: 70px;
}

#cesto {
    margin-right: 50px;
}

#nborder {
    width: 13%;
    border-bottom: 2px solid #727272;   
    margin: 0 auto;
    margin-bottom: 50px;
}

#logo {
    height: 35px;
    width: 150px;
    float: left;
    padding-left: 100px;
}
