@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.unlink {
    color: inherit;
    text-decoration: none;
}

#navbar {
    display: flex;
    height: 4.6em;
    align-items: center;
}

#navbar form {
    flex-grow: 1;
    margin-left: 2em;
}

#nav-border {
    margin-right: 10em;
    margin-left: 10em;
    border-bottom: 0.1em solid #cfcfcf;
    margin-top: 0.1em;
}

.searchbar {
    position: relative;
    display: flex;
    border: 0.2em solid rgb(255, 255, 255);
    border-radius: 0.4em;
    padding: 0.1em;
}

.searchbar:hover {
    border-color: rgb(219, 219, 219);
}

.searchbar:focus-within {
    outline: 0.1em solid rgb(174, 210, 255);
    border-color: rgb(79, 161, 255);
    outline-width: 0.2em;
    box-shadow: 0 0.1em 0.2em 0 rgba(0,0,0,0.5);
}

.searchbar input {
    flex: 1;
    position: relative;
    height: 3em;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    padding-left: 1.2em;
    padding-right: 4em;
    border: none;
    border-radius: 0.4em;
}

.searchbar input::placeholder {
    font-style: italic;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    position: absolute;
    height: 2.6em;
    width: 3.1em;
    right: 0.4em;
    background: url(../Assets/search.png);
    background-size: 1.5em 1.6em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: 0.6em;
    border: 0;
}

.header-items {
    display: flex;
    margin-left: 1em;
    align-items: center;
}

.header-items a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0.6em;
    padding-right: 0.6em;
    border: 0.2em solid white;
    border-radius: 0.4em;
    transition: 0.5s;
}

.header-items span {
    white-space: nowrap;
    padding-left: 0.3em;
}

.header-items a:hover {
    border-color: rgb(219, 219, 219);
}

.header-items img {
    width: 3.1em;
    height: 3em;
}

.lista-navegacao {
    height: 3.1em;
    box-shadow: 0 0.2em 0.1em -0.1em gray;
}

.lista-navegacao ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.lista-navegacao ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12.5em;
    cursor: pointer;
    border-bottom: 0.3em solid white;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.lista-navegacao ul li:hover {
    border-bottom: 0.3em solid black;
}

.lista-navegacao ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1em;
    width: 100%;
    height: 100%;
}

.banner {
    font-family: "Bebas Neue", Arial, sans-serif;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 12.5em;
    width: 56.3em;
    color: white;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    background-color: #2364b1;
}

.banner span {
    width: 50em;
    color:#fff;
    font-size: 1.1em;
    font-weight: 40;
    line-height: 0.9rem;
    text-align:center;
    text-transform:uppercase;
}

.banner img {
    height: 10.3em;
    width: 25em;
    border-radius: 0.9em;
    margin-left: 1.9em;
    margin-right: 0.6em;
}

.banner div {
    position: relative;
    top: 0.8em;
    margin-left: 2em;
}

.plist h2 {
    margin-bottom: 0.4em;
}

.plist ul {
    list-style: none;
}

.plist ul li {
    display: inline-block;
    vertical-align: top;
    width: 10.6em;
    height: 20em;
    padding: 1.1em;
    border-radius: 0.6em;
    margin-right: 0.9em;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.3em 0.5em 0.1em;
}

.plist ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.3em 0.5em 0.3em;
}

.plist ul li h4 {
    color: rgb(243, 57, 57);
    text-align: left;
    font-size: 1.3em;
    margin-top: 1.2em;
    margin-bottom: 0;
}

.plist ul li p {
    text-align: justify;
    margin-top: 0.5em;
    height: 5.6em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plist ul li button {
    font-size: 0.7em;
    color: white;
    width: 8.5em;
    height: 3.2em;
    cursor: pointer;
    border: none;
    border-radius: 9999px;
    background-color: blue;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.plist ul li button:hover {
    transform: scale(1.05);
}

.plist ul li img {
    width: 9.4em;
}

.novidades {
    margin: 0;
    margin-top: 5em;
    text-align: center;
    margin-bottom: 5em;
}

.novidades ul li {
    margin-bottom: 1em;
}

.produtos {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.1em;
    margin-left: 3em;
}

.produtos ul {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0;
}

.produtos ul li {
    align-items: center;
    justify-content: center;
}

.produtos ul li p {
    font-size: 0.9em;
    text-align: left;
}

.produtos ul li h4 span {
    color: gray;
    font-size: 0.9em;
    text-decoration: line-through;
    margin-left: 0.1em;
}

.produtos > ul > button {
    position: relative;
    height: 3.1em;
    width: 3.1em;
    border-radius: 9999px;
    border: none;
    left: 1.9em;
    transition: all 0.2s ease;
}

.produtos ul button:hover {
    filter: brightness(-100%);
    cursor: pointer;
}

.produtos img {
    height: 7.5em;
}

.reviews ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 1.5em;
    margin-bottom: 5em;
}

.reviews ul li {
    display: flex;
    flex-direction: column;
    width: 15.6em;
    padding: 0.6em 1.3em;
    border-radius: 0.6em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.3em 0.9em;
}

.reviews ul li div {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 3.1em;
}

.reviews > ul > li > img {
    height: 2.5em;
    width: 2.5em;
    margin-top: 0.6em;
    border-radius: 99px;
    margin-bottom: 0.3em;
}

.reviews > ul > li > div > img {
    display: block;
    width: 5em;
    height: auto;
    margin-top: 0.3em;
}

.reviews ul li div h4 {
    margin: 0;
    font-size: 0.9em;
    font-weight: bold;
}

.reviews ul li p {
    text-align: justify;
    width: 100%;
    height: 110%;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 0.9em;
}

.footer {
    height: 3.1em;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: white;
    background-color: #181828;
    border-top: 0.1em solid black;
}

.footer div {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 1.2em;
}

.footer div div {
    display: flex;
    justify-content: center;
    width: 17.5em;
    margin-left: auto;
    margin-right: 2.5em;
    text-wrap: nowrap;
}

.footer div div a {
    margin-right: 0.2em;
}

#login {
    margin-right: 0.5em;
}

#treviews {
    text-align: center;
    margin-bottom: 2em;
}

#bh {
    font-size: 1.4em;
    font-weight: 400;
}

#pspan {
    font-size: 0.9em;
}

#cesto {
    margin-right: 1.1em;
}

#cesto img {
    height: 2.8em;
    width: 4em;
}

#nborder {
    width: 20.6em;
    border-bottom: 0.1em solid #727272;
    margin: 0 auto;
    margin-bottom: 3.1em;
}

#logo {
    margin-left: 2em;
}

#logo img {
    height: 2.2em;
    width: 9.4em;
}

@media screen and (max-width: 480px) {

    .header-items {
        position: absolute;
        display: flex;
        align-self: flex-end;
        top: 0;
        order: 1;
        margin: 0;
    }

    .header-items a {
        width: 3.8em;
        padding: 0;
        margin-top: 0.5em;
    }

    .header-items span {
        display: none;
    }

    .searchbar {
        order: 3;
        width: auto;
        display: flex;
        justify-self: center;
        flex: 1;
        margin: 0;
        width: 95%;
        margin-bottom: 0.8em;
        box-sizing: border-box; 
    }

    .searchbar input {
        width: auto;
    }

    .searchbar button {
        top: 0.4em;
    }

    .lista-navegacao ul {
        padding: 0 0.5em;
    }

    .banner {
        display: flex;
        justify-content: center;
        width: 80vw;
        height: 20em;   
        flex-direction: column; 
        padding: 1em;      
    }

    .banner img {
        width: 100%;
        height: auto; 
        margin: 0;    
        margin-top: 2; 
    }

    .banner span {
        width: 100%;      
        font-size: 1em;
        margin: 0;    
    }

    .banner div {
        margin: 0;
    }

    .banner div h3 {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }

    .banner div p {
        margin-top: 0;
    }

    .produtos {
        margin-left: 0;
    }

    .produtos ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .produtos ul li {
        margin-bottom: 1.5em;
    }

    .produtos h2 {
        margin: 0;
        text-align: center;
    }

    .plist ul {
        padding: 0;
    }

    .plist > ul > button {
        display: none;
    }
    
    .reviews ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .reviews ul li {
        width: 70%;  
        margin: 0;     
        padding: 1em 1.3em;
        margin-bottom: 1.5em; 
    }

    .reviews ul li div {
        width: 100%;     
    }

    .reviews ul li p {
        width: 100%;   
    }
    
    .footer {
        flex-direction: column;    
        height: auto;              
        padding: 0.5em 1em;
        text-align: center;
        text-wrap: nowrap;
    }

    .footer div {
        flex-direction: column;     
        align-items: center;
        margin: 0;
    }

    .footer div div {
        width: 100%;                
        justify-content: center;
        margin: 0.2em 0;
        flex-direction: row;
    }

    .footer div div a {
        margin: 0 0.2em;       
    }

    #navbar {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        flex: 1;
    }

    #navbar form {
        flex-grow: 1;
        width: 100%;
        margin: 0;
    }

    #logo {
        order: 2;
        margin-top: 1.5em;
        margin-left: 1em;
        margin-bottom: 1em;
        align-self: flex-start;
    }

    #logo img {
        width: 8em;
        height: 1.8em;
    }

    #login {
        margin-right: 0;
    }

    #cesto {
        margin-right: 0.5em;
        margin-left: 0;
    }

    #cesto img {
        width: 6em;
    }

    #nav-border {
        margin-left: 1em;
        margin-right: 1em;
    }
}
