@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.unlink {
    color: inherit;
    text-decoration: none;
}

#navbar {
    display: flex;
    height: 5.625em;
    align-items: center;
}

#nav-border {
    margin-right: 10em;
    margin-left: 10em;
    border-bottom: 0.125em solid #cfcfcf;
    margin-top: 0.03125em;
}

.searchbar {
    position: relative;
    display: inline-block;
    margin-left: 6.25em;
    border: 0.1875em solid rgb(255, 255, 255);
    border-radius: 0.4375em;
    padding: 0.125em;
}

.searchbar:hover {
    border-color: rgb(219, 219, 219);
    animation: 20s linear slide-in;
}

.searchbar:focus-within {
    outline: 0.125em solid rgb(174, 210, 255);
    border-spacing: 0;
    border-color: rgb(79, 161, 255);
    outline-width: 0.1875em;
    box-shadow: 0 0.125em 0.25em 0 rgba(0,0,0,0.5);
}

.searchbar input {
    position: relative;
    font-family: inherit;
    height: 3em;
    width: 45em;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    padding-left: 1.25em;
    padding-right: 4em;
    border: none;
    border-radius: 0.4375em;
}

.searchbar input::placeholder {
    font-style: italic;
}

.searchbar input::after {
    border: 0;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    position: absolute;
    height: 2.625em;
    width: 3.125em;
    right: 0.4375em;
    background: url(../Assets/search.png);
    background-size: 1.5em 1.5625em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: 10%;
    border: 0;
}

.header-items {
    display: flex;
    font-family: inherit;
    margin-left: auto;
    align-items: center;
}

.header-items a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0.625em;
    padding-right: 0.625em;
    border: 0.25em solid white;
    border-radius: 0.4375em;
    transition: 0.5s;
}

.header-items span {
    padding-left: 0.3125em;
}

.header-items a:hover {
    border-color: rgb(219, 219, 219);
}

.header-items img {
    width: 3.125em;
    height: 3.125em;
}

.lista-navegacao {
    height: 3.125em;
    box-shadow: 0 0.1875em 0.125em -0.125em gray;
}

.lista-navegacao ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 0;
}

.lista-navegacao ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12.5em;
    cursor: pointer;
    border-bottom: 0.3125em solid white;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.lista-navegacao ul li:hover {
    border-bottom: 0.3125em solid black;
}

.lista-navegacao ul li a {
    margin-top: 0.125em;
}

.banner {
    font-family: "Bobas Neue", "Bebas Neue", Arial, sans-serif;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 12.5em;
    width: 56.25em;
    color: white;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #2364b1;
}

.banner span {
    width: 50em;
    color:#fff;
    font-size: 1.125em;
    font-weight: 40;
    letter-spacing:.03125rem;
    line-height:.875rem;
    text-align:center;
    margin-bottom: 0;
    text-transform:uppercase;
}

.banner img {
    display: flex;
    height: 10.3125em;
    width: 25em;
    border-radius: 0.9375em;
    margin-left: 1.875em;
    margin-right: 0.625em;
}

.banner div {
    position: relative;
    top: 0.8em;
    margin-left: 2em;
}

.plist h2 {
    margin-bottom: 0.4375em;
}

.plist ul {
    list-style: none;
}

.plist ul li {
    display: inline-block;
    vertical-align: top;
    width: 10.625em;
    height: 20em;
    padding: 1.125em;
    border-radius: 0.625em;
    margin-right: 0.9375em;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.3125em 0.5em 0.0625em;
}

.plist ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.3125em 0.5em 0.3125em;
}

.plist ul li h4 {
    color: rgb(243, 57, 57);
    text-align: left;
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 0;
}

.plist ul li p {
    text-align: justify;
    margin-top: 0.5em;
    height: 5.625em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plist ul li button {
    font-size: 0.6875em;
    color: white;
    width: 7.5em;
    height: 2.1875em;
    cursor: pointer;
    border: none;
    border-radius: 9999px;
    background-color: blue;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.plist ul li button:before {
    transition: all 0.5s ease;
}

.plist ul li button:hover {
    transform: scale(1.05);
}

.plist ul li img {
    width: 9.375em;
}

.novidades {
    font-family: inherit;
    margin: 0;
    margin-top: 5em;
    text-align: center;
    margin-bottom: 5em;
}

.produtos {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    margin-bottom: 3.125em;
}

.produtos h2 {
    margin-left: 4.375em;
}

.produtos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.produtos ul li {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.produtos ul li p {
    font-size: 0.875em;
    text-align: left;
}

.produtos ul li h4 span {
    color: gray;
    font-size: 0.9375em;
    text-decoration: line-through;
    margin-left: 0.125em;
}

.produtos > ul > button {
    position: relative;
    height: 3.125em;
    width: 3.125em;
    border-radius: 9999px;
    border: none;
    left: 1.875em;
    transition: all 0.2s ease;
}

.produtos ul button:hover {
    filter: brightness(-100%);
    cursor: pointer;
}

.produtos img {
    height: 7.5em;
}

.reviews ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 5em;
}

.reviews ul li {
    display: flex;
    flex-direction: column;
    width: 15.625em;
    padding: 0.625em 1.25em;
    margin-right: 1.875em;
    border-radius: 0.625em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.3125em 0.9375em;
}

.reviews ul li div {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 3.125em;
}

.reviews > ul > li > img {
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    margin-top: 0.625em;
    border-radius: 99px;
    margin-bottom: 0.3125em;
}

.reviews > ul > li > div > img {
    display: block;
    width: 5em;
    height: auto;
    margin-top: 0.25em;
}

.reviews ul li div h4 {
    margin: 0;
    font-size: 0.875em;
    font-weight: bold;
}

.reviews ul li p {
    text-align: justify;
    width: 100%;
    height: 110%;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 0.875em;
}

.footer {
    width: 100%;
    height: 3.125em;
    display: flex;
    align-items: center;
    font-size: 0.875em;
    color: white;
    background-color: #181828;
    border-top: 0.0625em solid black;
}

.footer div p {
    width: 21.875em;
}

.footer div {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 1.25em;
}

.footer div div {
    display: flex;
    justify-content: center;
    width: 17.5em;
    margin-left: auto;
    margin-right: 0.625em;
}

.footer div div a {
    margin-right: 0.1875em;
}

#login {
    margin-right: 1.5625em;
}

#treviews {
    display: flex;
    justify-content: center;
}

#bh {
    font-size: 1.4375em;
    font-weight: 400;
}

#pspan {
    font-size: 0.875em;
}

#cesto {
    margin-right: 3.125em;
}

#cesto img {
    scale: 0.9;
    width: 4.375em;
}

#nborder {
    width: 20.625em;
    border-bottom: 0.125em solid #727272;
    margin: 0 auto;
    margin-bottom: 3.125em;
}

#logo {
    height: 2.1875em;
    width: 9.375em;
    float: left;
    padding-left: 6.25em;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
}