@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.unlink {
    color: inherit;
    text-decoration: none;
}

/* Barra de Navegação */
#navbar {
    display: flex;
    height: 90px;
    align-items: center;
}

#nav-border {
    margin-right: 10em;
    margin-left: 10em;
    border-bottom: 2px solid #cfcfcf;
    margin-top: 8px;
}

/* Barra de Pesquisa */
.searchbar {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 7px;
    padding: 2px;
}

/* Foco do Input */
.searchbar:hover {
    border-color: rgb(219, 219, 219);
    animation: 20s linear slide-in,;
}

.searchbar:focus-within {
    outline: 2px solid rgb(174, 210, 255);
    border-spacing: 0px;
    border-color: rgb(79, 161, 255);
    outline-width: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.searchbar input {
    font-family: inherit;
    height: 40px;
    width: 600px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    padding-left: 1.25em;
    padding-right: 4em;
    border: none;
    border-radius: 7px;
}

.searchbar input::placeholder {
    font-style: italic;
}

.searchbar input::after {
    border: 0;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    position: absolute;
    height: 42px;
    width: 50px;
    right: 7px;
    bottom: 1px;
    background: url(../Assets/search.png);
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 0;
}

/* Login e Cesto */
.header-items {
    display: flex;
    font-family: inherit;
    margin-left: auto;
    align-items: right;
}

.header-items a {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    padding-right: 10px;
    justify-content: center;
    border: 4px solid white;
    text-align: center;
    border-radius: 7px;
    transition: 0.5s;
}

.header-items span {
    padding-left: 5px;
} 

.header-items a:hover {
    border-color: rgb(219, 219, 219);
}

.header-items img {
    width: 50px;
    height: 50px;
}

/* Lista de Navegação */
.lista-navegacao {
    height: 50px;
    box-shadow: 0 3px 2px -2px gray;
}

.lista-navegacao ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 0;
}

.lista-navegacao ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
    cursor: pointer;
    border-bottom: 5px solid white;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.lista-navegacao ul li:hover {
    border-bottom: 5px solid black;
}

.lista-navegacao ul li a {
    margin-top: 2px;
}

/* Main */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.titulo h1 {
    color: rgb(35, 122, 194);
}

.titulo p {
    text-align: center;
    width: 60%;
    margin: 0;
}

.reparacoes {
    margin-top: 70px;
}


.reparacoes > div {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 130px; 
    border-radius: 99px;
}

.reparacoes ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reparacoes ul li {
    position: relative;
    height: 340px;
    width: 250px;
    margin-right: 50px;
    border-radius: 10px;
    background: rgb(228, 237, 247);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reparacoes ul li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: calc(100% - 20px);
}

.reparacoes ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 20px;
}

.reparacoes ul li div img {
    height: 70px;
    width: 70px;
    border-radius: 9px;
}

.reparacoes > ul > li > a > div {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px; 
    border-radius: 99px;
}

.reparacoes ul li h3 {
    color: rgb(4, 97, 127);
    width: 80%;
    font-size: 17px;
}

.reparacoes ul li a button {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 99px;
    border: none;
    cursor: pointer;
    bottom: 0;
    margin-bottom: 25px;
    transition: 0.2s;
    background-color: rgb(146, 196, 253);
}

.reparacoes ul li a button:hover {
    background-color: rgb(89, 132, 182);
}

/* Recomendações */
.recomendacoes {
    margin-top: 50px;
}

.recomendacoes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.recomendacoes ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    height: 280px;
    padding: 13px 20px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

.recomendacoes ul li p {
    text-align: justify;
    max-height: 100%;
}

/* Footer */
.footer {
    position: relative; /* instead of fixed */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: #181828;
    border-top: 1px solid black;
    margin-top: 50px; /* optional spacing above */
}

.footer div p {
    width: 350px;
}

.footer div {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 20px;
}

.footer div p {
    width: 360px;
}

.footer div div {
    display: flex;
    justify-content: center;
    width: 280px;
    margin-left: auto;
    margin-right: 10px;
}

.footer div div a {
    margin-right: 3px;
}

/* Ids */
#login {
    margin-right: 25px;
}

#cesto {
    margin-right: 50px;
}

#cesto img {
    scale: 0.9;
    height: px;
    width: 70px;
}

#nborder {
    width: 330px;
    border-bottom: 2px solid #727272;   
    margin: 0 auto;
    margin-bottom: 50px;
}

#logo {
    height: 35px;
    width: 150px;
    float: left;
    padding-left: 100px;
}
