@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.unlink {
    color: inherit;
    text-decoration: none;
}

#navbar {
    display: flex;
    height: 4.6em;
    align-items: center;
}

#navbar form {
    flex-grow: 1;
    margin-left: 2em;
}

#nav-border {
    margin-right: 10em;
    margin-left: 10em;
    border-bottom: 0.1em solid #cfcfcf;
    margin-top: 0em;
}

.searchbar {
    position: relative;
    display: flex;
    border: 0.2em solid rgb(255, 255, 255);
    border-radius: 0.4em;
    padding: 0.1em;
}

.searchbar:hover {
    border-color: rgb(219, 219, 219);
}

.searchbar:focus-within {
    outline: 0.1em solid rgb(174, 210, 255);
    border-color: rgb(79, 161, 255);
    outline-width: 0.2em;
    box-shadow: 0 0.1em 0.3em 0 rgba(0,0,0,0.5);
}

.searchbar input {
    flex: 1;
    position: relative;
    height: 3em;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    padding-left: 1.3em;
    padding-right: 4em;
    border: none;
    border-radius: 0.4em;
}

.searchbar input::placeholder {
    font-style: italic;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    position: absolute;
    height: 2.6em;
    width: 3.1em;
    right: 0.4em;
    background: url(../Assets/search.png);
    background-size: 1.5em 1.6em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: 10%;
    border: 0;
}

.header-items {
    display: flex;
    margin-left: 1em;
    align-items: center;
}

.header-items a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0.6em;
    padding-right: 0.6em;
    border: 0.3em solid white;
    border-radius: 0.4em;
    transition: 0.5s;
}

.header-items span {
    white-space: nowrap;
    padding-left: 0.3em;
}

.header-items a:hover {
    border-color: rgb(219, 219, 219);
}

.header-items img {
    width: 3.1em;
    height: 3em;
}

.lista-navegacao {
    height: 3.1em;
    box-shadow: 0 0.2em 0.1em -0.1em gray;
}

.lista-navegacao ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.lista-navegacao ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12.5em;
    cursor: pointer;
    border-bottom: 0.3em solid white;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.lista-navegacao ul li:hover {
    border-bottom: 0.3em solid black;
}

.lista-navegacao ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1em;
    width: 100%;
    height: 100%;
}
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.titulo h1 {
    color: rgb(35, 122, 194);
}

.titulo p {
    text-align: center;
    width: 60%;
    margin: 0;
}

.reparacoes {
    display: flex;
    justify-content: center;
    margin-top: 4.4em;
}

.reparacoes > div {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.4em;
    width: 8.1em;
    border-radius: 6.2em;
}

.reparacoes ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    gap: 3.1em;
}

.reparacoes ul li {
    position: relative;
    height: 21.3em;
    width: 15.6em;
    border-radius: 0.6em;
    background: rgb(228, 237, 247);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3em 0.9em;
}

.reparacoes ul li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 1.3em;
    width: 100%;
    height: calc(100% - 1.3em);
}

.reparacoes ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0.5em 1.3em;
}

.reparacoes ul li div img {
    height: 4.4em;
    width: 4.4em;
    border-radius: 0.6em;
}

.reparacoes > ul > li > a > div {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.9em;
    width: 6.9em;
    border-radius: 6.2em;
}

.reparacoes ul li h3 {
    color: rgb(4, 97, 127);
    width: 80%;
    font-size: 1.1em;
}

.reparacoes ul li a button {
    position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 6.2em;
    border: none;
    cursor: pointer;
    bottom: 0;
    margin-bottom: 2.5em;
    transition: 0.2s;
    background-color: rgb(146, 196, 253);
}

.reparacoes ul li a button:hover {
    background-color: rgb(89, 132, 182);
}

.recomendacoes {
    display: flex;
    justify-content: center;
    margin-top: 3.1em;
}

.recomendacoes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 3em;
}

.recomendacoes ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15.6em;
    height: 17.5em;
    padding: 0.8em 1.3em;
    margin-right: 1.9em;
    border-radius: 0.6em;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0.3em 0.9em;
}

.recomendacoes ul li p {
    text-align: justify;
    max-height: 100%;
    text-align-last: center;
}

.footer {
    width: 100%;
    height: 3.1em;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: white;
    background-color: #181828;
    border-top: 0.1em solid black;
}

.footer div p {
    width: 21.9em;
}

.footer div {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 1.3em;
}

.footer div p {
    width: auto;
    text-wrap: nowrap;
}

.footer div div {
    display: flex;
    justify-content: center;
    width: auto;
    text-wrap: nowrap;
    margin-left: auto;
    margin-right: 1em;
}

.footer div div a {
    margin-right: 0.2em;
}

#login {
    margin-right: 0.5em;
}

#cesto {
    margin-right: 1.1em;
}

#cesto img {
    height: 2.8em;
    width: 4em;
}

#nborder {
    width: 20.6em;
    border-bottom: 0.1em solid #727272;
    margin: 0 auto;
    margin-bottom: 3.1em;
}

#logo {
    margin-left: 2em;
}

#logo img {
    height: 2.2em;
    width: 9.4em;
}

@media screen and (max-width: 30em) {

    .footer {
        white-space: nowrap;
    }

    .header-items {
        position: absolute;
        display: flex;
        align-self: flex-end;
        top: 0;
        order: 1;
        margin: 0;
    }

    .header-items a {
        width: 3.8em;
        padding: 0;
        margin-top: 0.5em;
    }

    .header-items span {
        display: none;
    }

    .searchbar {
        order: 3;
        width: 95%;
        margin: 0;
        margin-bottom: 0.8em;
        display: flex;
        justify-self: center;
        flex: 1;
        box-sizing: border-box; 
    }

    .searchbar input {
        width: 90%;
    }

    .lista-navegacao ul {
        padding: 0 0.5em;
    }

    .titulo p {
        width: 80%;
        text-align: justify;
        text-align-last: center;
    }

    .reparacoes ul {
        flex-direction: column;
    }

    .reparacoes ul li {
        margin-bottom: 1em;
    }

    .recomendacoes {
        display: flex;
    }
    
    .recomendacoes ul {
        flex-direction: column;
    }

    .recomendacoes ul li {
        margin-bottom: 1em;
    }

    .footer {
        flex-direction: column; 
        height: auto; 
        width: auto; 
        padding: 0.5em 1em;
        text-align: center;
        text-wrap: nowrap;
    }

    .footer div {
        flex-direction: column; 
        align-items: center;
        margin: 0;
    }

    .footer div div {
        width: 100%; 
        justify-content: center;
        margin: 0.3em 0;
        flex-direction: row;
    }

    .footer div div a {
        margin: 0 0.3em; 
    }

    #navbar {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        flex: 1;
    }

    #navbar form {
        flex-grow: 1;
        width: 100%;
        margin: 0;
    }

    #logo {
        order: 2;
        margin-top: 1.5em;
        margin-left: 1em;
        margin-bottom: 1em;
        align-self: flex-start;
    }

    #logo img {
        width: 8em;
        height: 1.8em;
    }

    #cesto {
        margin-right: 0.5em;
    }

    #cesto img {
        width: 6em;
    }

    #nav-border {
        margin-left: 1em;
        margin-right: 1em;
    }
}