@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.unlink {
    color: inherit;
    text-decoration: none;
}

#navbar {
    display: flex;
    height: 4.6em;
    align-items: center;
}

#navbar form {
    flex-grow: 1;
    margin-left: 2em;
}

#nav-border {
    margin-right: 10em;
    margin-left: 10em;
    border-bottom: 0.1em solid #cfcfcf;
    margin-top: 0em;
}

.searchbar {
    position: relative;
    display: flex;
    border: 0.2em solid rgb(255, 255, 255);
    border-radius: 0.4em;
    padding: 0.1em;
}

.searchbar:hover {
    border-color: rgb(219, 219, 219);
}

.searchbar:focus-within {
    outline: 0.1em solid rgb(174, 210, 255);
    border-color: rgb(79, 161, 255);
    outline-width: 0.2em;
    box-shadow: 0 0.1em 0.3em 0 rgba(0,0,0,0.5);
}

.searchbar input {
    flex: 1;
    position: relative;
    height: 3em;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    padding-left: 1.3em;
    padding-right: 4em;
    border: none;
    border-radius: 0.4em;
}

.searchbar input::placeholder {
    font-style: italic;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    position: absolute;
    height: 2.6em;
    width: 3.1em;
    right: 0.4em;
    background: url(../Assets/search.png);
    background-size: 1.5em 1.6em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: 10%;
    border: 0;
}

.header-items {
    display: flex;
    margin-left: 1em;
    align-items: center;
}

.header-items a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0.6em;
    padding-right: 0.6em;
    border: 0.3em solid white;
    border-radius: 0.4em;
    transition: 0.5s;
}

.header-items span {
    white-space: nowrap;
    padding-left: 0.3em;
}

.header-items a:hover {
    border-color: rgb(219, 219, 219);
}

.header-items img {
    width: 3.1em;
    height: 3em;
}

.lista-navegacao {
    height: 3.1em;
    box-shadow: 0 0.2em 0.1em -0.1em gray;
}

.lista-navegacao ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.lista-navegacao ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12.5em;
    cursor: pointer;
    border-bottom: 0.3em solid white;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.lista-navegacao ul li:hover {
    border-bottom: 0.3em solid black;
}

.lista-navegacao ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1em;
    width: 100%;
    height: 100%;
}

.titulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.6em;
    font-weight: 600;
    color: rgb(35, 122, 194);
}

.historia {
    width: auto;
    margin-top: 1.9em;
    margin-left: 3.1em;
}

.historia > img {
    width: 30em;
    height: 27em;
    float: right;
    margin-right: 5em;
    margin-left: 5em;
}

.historia h2 {
    width: 25em;
}

.historia p {
    text-align: justify;
    width: 50em;
    line-break: 10px;
}

.form {
    font-family: "Inter", sans-serif;
    width: 45%;
    margin: 1.9em auto;
    padding: 1.9em 2.2em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    border-radius: 0.8em;
    box-shadow: 0 0.5em 1.6em rgba(0, 0, 0, 0.08);
}

.form div {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 1em;
    font-weight: 600;
    color: #1f4d92;
    margin-bottom: 0.5em;
}

.form input::placeholder {
    font-style: italic;
}
.form input,
.form textarea {
    font-family: "Inter", sans-serif;
    width: 100%;
    padding: 0.8em 0.9em;
    border-radius: 0.5em;
    border: 0.1em solid #c8d9f5;
    background-color: #f0f5ff;
    font-size: 0.9em;
    transition: 0.25s ease;
    width: auto;
}

.form textarea {
    height: 10em;
    resize: none;
}

.form textarea::placeholder {
    font-style: italic;
}

.form input:focus,
.form textarea:focus {
    border-color: #1f4d92;
    outline: none;
    background-color: #e9f1ff;
    box-shadow: 0 0 0.5em rgba(31, 77, 146, 0.3);
}

.form button {
    margin-top: 0.6em;
    padding: 0.9em 0;
    background-color: #1f4d92;
    color: white;
    border: none;
    border-radius: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
}

.form button:hover {
    background-color: #163a6c;
}

.footer {
    width: 100%;
    height: 3.1em;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: white;
    background-color: #181828;
    border-top: 0.1em solid black;
}

.footer div p {
    width: 21.9em;
}

.footer div {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 1.3em;
}

.footer div p {
    width: auto;
}

.footer div div {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: 1em;
}

#login {
    margin-right: 0.5em;
}

#cesto {
    margin-right: 1.1em;
}

#sbreak {
    position: relative;
    border-block-start-color: white;
    border-block-start-style: dashed;
    color: white;
    background-color: white;
    block-size: 0.5em;
    box-shadow: 0 0.5em 0.5em #0000001a;
}

#cesto img {
    height: 2.8em;
    width: 4em;
}

#nborder {
    width: 20.6em;
    border-bottom: 0.1em solid #727272;
    margin: 0 auto;
    margin-bottom: 3.1em;
}

#logo {
    margin-left: 2em;
}

#logo img {
    height: 2.2em;
    width: 9.4em;
}

#titulo2 {
    margin-top: 3em;
}

@media screen and (max-width: 30em) {
    .header-items {
        position: absolute;
        display: flex;
        align-self: flex-end;
        top: 0;
        order: 1;
        margin: 0;
    }

    .header-items a {
        width: 3.8em;
        padding: 0;
        margin-top: 0.5em;
    }

    .header-items span {
        display: none;
    }

    .searchbar {
        order: 3;
        width: 95%;
        margin: 0;
        margin-bottom: 0.8em;
        display: flex;
        justify-self: center;
        flex: 1;
        box-sizing: border-box;
    }

    .searchbar input {
        width: 90%;
    }

    .lista-navegacao ul {
        padding: 0 0.5em;
    }

    .historia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .historia img {
        order: 3;
        width: 90%;
        margin: 0;
        float: none;
    }

    .historia h2 {
        order: 1;
        text-align: center;
        width: 90%;
        margin: 0;
    }

    .historia p {
        order: 2;
        width: 90%;
    }

    .titulo {
        margin-top: 0.8em;
    }

    .form {
        width: 70%;
    }

    .footer {
        flex-direction: column; 
        height: auto; 
        width: auto; 
        padding: 0.5em 1em;
        text-align: center;
        text-wrap: nowrap;
    }

    .footer div {
        flex-direction: column; 
        align-items: center;
        margin: 0;
    }

    .footer div div {
        width: 100%; 
        justify-content: center;
        margin: 0.3em 0;
        flex-direction: row;
    }

    .footer div div a {
        margin: 0 0.3em; 
    }

    #navbar {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        flex: 1;
    }

    #navbar form {
        flex-grow: 1;
        width: 100%;
        margin: 0;
    }

    #logo {
        order: 2;
        margin-top: 1.5em;
        margin-left: 1em;
        margin-bottom: 1em;
        align-self: flex-start;
    }

    #logo img {
        width: 8em;
        height: 1.8em;
    }

    #cesto {
        margin-right: 0.5em;
    }

    #cesto img {
        width: 6em;
    }

    #nav-border {
        margin-left: 1em;
        margin-right: 1em;
    }
}