@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.unlink {
    color: inherit;
    text-decoration: none;
}

/* Barra de Navegação */
#navbar {
    display: flex;
    height: 90px;
    align-items: center;
}

#nav-border {
    margin-right: 10em;
    margin-left: 10em;
    border-bottom: 2px solid #cfcfcf;
    margin-top: 8px;
}

/* Barra de Pesquisa */
.searchbar {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 7px;
    padding: 2px;
}

/* Foco do Input */
.searchbar:hover {
    border-color: rgb(219, 219, 219);
    animation: 20s linear slide-in,;
}

.searchbar:focus-within {
    outline: 2px solid rgb(174, 210, 255);
    border-spacing: 0px;
    border-color: rgb(79, 161, 255);
    outline-width: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.searchbar input {
    font-family: inherit;
    height: 40px;
    width: 600px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    padding-left: 1.25em;
    padding-right: 4em;
    border: none;
    border-radius: 7px;
}

.searchbar input::placeholder {
    font-style: italic;
}

.searchbar input::after {
    border: 0;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    position: absolute;
    height: 42px;
    width: 50px;
    right: 7px;
    bottom: 1px;
    background: url(../Assets/search.png);
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 0;
}

/* Login e Cesto */
.header-items {
    display: flex;
    font-family: inherit;
    margin-left: auto;
    align-items: right;
}

.header-items a {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    padding-right: 10px;
    justify-content: center;
    border: 4px solid white;
    text-align: center;
    border-radius: 7px;
    transition: 0.5s;
}

.header-items span {
    padding-left: 5px;
} 

.header-items a:hover {
    border-color: rgb(219, 219, 219);
}

.header-items img {
    width: 50px;
    height: 50px;
}

/* Lista de Navegação */
.lista-navegacao {
    height: 50px;
    box-shadow: 0 3px 2px -2px gray;
}

.lista-navegacao ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 0;
}

.lista-navegacao ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
    cursor: pointer;
    border-bottom: 5px solid white;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.lista-navegacao ul li:hover {
    border-bottom: 5px solid black;
}

.lista-navegacao ul li a {
    margin-top: 2px;
}


/* Footer */
.footer {
    position: relative; /* instead of fixed */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: #181828;
    border-top: 1px solid black;
    margin-top: 50px; /* optional spacing above */
}

.footer div p {
    width: 350px;
}

.footer div {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 20px;
}

.footer div p {
    width: 360px;
}

.footer div div {
    display: flex;
    justify-content: center;
    width: 280px;
    margin-left: auto;
    margin-right: 10px;
}

.footer div div a {
    margin-right: 3px;
}

/* Ids */
#login {
    margin-right: 25px;
}

#cesto {
    margin-right: 50px;
}

#cesto img {
    scale: 0.9;
    height: px;
    width: 70px;
}

#nborder {
    width: 330px;
    border-bottom: 2px solid #727272;   
    margin: 0 auto;
    margin-bottom: 50px;
}

#logo {
    height: 35px;
    width: 150px;
    float: left;
    padding-left: 100px;
}
